<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Get your address books <a href="/addressbook">here</a></p>
<p>Listed below are the REST calls possible.</p>
<p>To get all address books                                                                              =    GET     /addressbook</p>
<p>To get a specific address book (id is the address book's id)                                          =    GET     /addressbook/{id}</p>
<p>To add a buddy to an address book (id is the address book's id) (BODY: String Name, Long Number)      =    POST    /addressbook/{id}</p>
<p>To delete a buddy from an address book (id is the address book's id) (BODY: String Name, Long Number) =    DELETE  /addressbook/{id}</p>

</body>
</html>